.dataOfMessage {
  color: grey;
  font-size: 10px;
}
.linkID {
  font-size: 10px;
}
.containerIconMessage {
  width: 34px;
  height: 30px;
  padding-top: 5px;
  margin-top: 50px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.904);
}
.container {
  height: 100%;
  width: 300px;
}
.iconFavoriteJoke {
  color: brown;
  font-size: 25px;
  border: none;
  width: 40px;
  height: 30px;
  margin-left: 50%;
}
.btnFavoriteJokeClicked {
  background-color: rgba(226, 226, 226);
  font-size: 25px;
  color: brown;
  border: none;
  width: 40px;
  height: 30px;
  margin-left: 50%;
}
.btnFavoriteJoke {
  background-color: rgba(226, 226, 226);
  font-size: 25px;
  color: white;
  border: none;
  width: 40px;
  height: 30px;
  margin-left: 50%;
}
.btnFavoriteJoke:hover {
  color: brown;
}
.Joke {
  width: 540px;
}
.iconMessage {
  margin-left: 1px;
  width: 30px;
  height: 30px;
}
.container > div {
  float: left;
}
.iconDiv {
  width: 60px;
  height: 100%;
}
.btnCategorie {
  border-radius: 3px;
  text-transform: uppercase;
  margin-left: 10px;
  margin-top: 10px;
  background-color: white;
  border: 1px solid white;
  box-shadow: 0 0 10px rgba(0.1, 0.1, 0.1, 0.1);
}
.btnCategorieHidden {
  display: none;
}
.cardJoke {
  border-radius: 15px;
  height: 200px;
  width: 600px;
  margin-left: 20px;
  background-color: rgb(226, 226, 226);
}
.cardJokeShadow {
  margin-top: 30px;
  border-radius: 15px;
  height: 200px;
  width: 600px;
  margin-left: 20px;
  background-color: rgb(226, 226, 226);
  box-shadow: 0px 2px 13px 0px grey;
}
.containerText {
  padding-left: 70px;
}
.cardJoke > div {
  float: left;
}
.cardJokeShadow > div {
  float: left;
}
.cardJokeShadow > {
  margin-top: 20px;
}
.selectedCategorie {
  margin-left: 80%;
}
